:root{
    --primary:black;
    --second :rgb(85, 21, 106);
    --ses :rgb(149, 52, 181);
    --bg:rgb(7, 7, 7);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: whitesmoke;
    color: black;
}

/* navbar */



.navbar{
    display: flex;
    justify-content: space-between;
    background-color:black;
    color: white;
    padding:0.5rem;
    box-shadow: 1rem;
    border-radius: 2px;
}

.logo {
    display:inline-block;
    
}
.navbar-nav ul li {
    list-style: none;
}
.navbar-nav ul li a{
    color: white;
    margin: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
}
.navbar-nav a:hover{
    cursor: pointer;
    color:var(--ses);
}
.navbar-nav a::after{
    content: '';
    display:block;
    border-bottom: 0.2rem solid var(--ses);
    border-color:var(--ses);
    padding-bottom:0.3rem;
    transform: scaleX(0);
    transition: 0.4s;
}
.navbar-nav a:hover::after{
    transform: scaleX(0.5);
}
/* navbar end */
/* conten */
.banner{
    background-color: var(--bg);
    display: block;
    color:white;
    min-height: 100vh;
    background-image: url(./img/desert-night-sky-3840x2160-15488.jpg);
    background-size:cover;
    position: relative;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg,rgb(57,10,73) 2%,);
    
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 3px,rgb(57, 10, 73) 97%);

}
.banner .banner_content{
    display:block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15rem;
}

.banner .banner_content h1{
    font-size: 3.7rem;
    text-shadow: 1px 4px 4px var(--primary);
}
.banner .banner_content a{
    font-size: 1.4rem;
    padding: 0.2rem;
    margin-top: 0.4rem;
    color:white;
    box-shadow: 0 0 3px 1px var(--bg) ;
    /* text-shadow: 2px 2px 2px 2px var(--bg) ; */
    display: inline-block;
    background-color:black;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
}

.intro{
    background-color: black;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    padding: 9rem;
    align-items: center;
}

.intro .intro_img img{
    height: 30rem;
}
.intro .intro_des{
    color: white;
    /* width: 40rem; */
    padding: 3rem;
}

.intro .intro_des h1{
    font-size: 3.2rem;
    width:35rem;
}
.intro .intro_des h1::after{
    content: '';
    display:block;
    border-bottom: 0.2rem solid var(--second);
    border-color:var(--second);

    padding-bottom:0.3rem;
    transform: scaleX(1);
}
.intro .intro_des p{
    font-weight: 100;
    padding-top: 1rem;
    font-size: 1rem;
    width: 30rem;
    text-align: justify;

    /* border-style: solid;
    border-color: var(--second); */
}

.intro .intro_des a{
    display: inline-block;
    margin-top: 1rem;
    color: white;
    background-color: var(--second);
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    
}

footer{
    background-color: var(--second);
    color: white;
    font-weight: 50;
    justify-items: center;
    padding: 1rem;
    font-size: 0.8rem;
    position: sticky;
    
}


/* conten end */

@media (max-width:550px){
    .navbar{
        display: flex;
        justify-content:end;
        background-color:black;
        color: white;
        padding:0.7rem;
        box-shadow: 1rem;
        border-radius: 2px;
        font-size: 0.9rem;
    }
    
    .logo {
        display:inline-block;
        
    }
    .navbar-nav ul li {
        list-style: none;
    }
    .navbar-nav ul li a{
        color: white;
        margin: 1rem 0.5rem;
        display: inline-block;
        text-decoration: none;
    }
    .navbar-nav a:hover{
        cursor: pointer;
        color:var(--ses);
    }
    .navbar-nav a::after{
        content: '';
        display:block;
        border-bottom: 0.2rem solid var(--ses);
        border-color:var(--ses);
        padding-bottom:0.3rem;
        transform: scaleX(0);
        transition: 0.4s;
    }
    .navbar-nav a:hover::after{
        transform: scaleX(0.5);

}
        .banner{
            background-color: var(--bg);
            display: block;
            color:white;
            min-height: 40vh;
            background-image: url(./img/desert-night-sky-3840x2160-15488.jpg);
            background-size:70rem;
            position: relative;
            background-repeat: no-repeat;
            background-image: linear-gradient(0deg,rgb(57,10,73) 2%,);
            
        }
        .banner::after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 13%;
            background: linear-gradient(0deg, rgb(0, 0, 0) 2px,rgb(57, 10, 73) 97%);
        
        }
        .banner .banner_content{
            display:block;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 12rem;
            padding-bottom: 15rem;
        }
        
        .banner .banner_content h1{
            font-size: 1.8rem;
            text-shadow: 1px 4px 4px var(--primary);
        }
        .banner .banner_content a{
            font-size: 0.7rem;
            display: inline-block;
            padding: 0.4rem;
            margin-top: 0.4rem;
            color:white;
            box-shadow: 0 0 3px 1px var(--bg) ;
            /* text-shadow: 2px 2px 2px 2px var(--bg) ; */
            display: inline-block;
            background-color:black;
            width: 7rem;
            height: 1rem;
            border-radius: 10px;
        }
        
        .intro{
            background-color: black;
            display:block;
            justify-content: space-around;
            min-height: 100vh;
            padding: 2rem;
            padding-top: 1rem;
            padding-left: 0.3rem;
            align-items: center;
        }
        
        .intro .intro_img img{
            height: 15rem;
            padding-top: 5rem;
            padding-left: 2.5rem;
        }
        .intro .intro_des{
            color: white;
            /* width: 40rem; */
            padding: 4rem;
        }
        
        .intro .intro_des h1{
            font-size: 1.7rem;
            width:30rem;
            display: inline;
        }
        .intro .intro_des h1::after{
            content: '';
            display:block;
            border-bottom: 0.2rem solid var(--second);
            border-color:var(--second);
            padding-bottom:0.3rem;
            /* transform:scaleX(1); */
            width: 10rem;

        }
        .intro .intro_des p{
            font-weight: 100;
            padding-top: 1rem;
            font-size: 0.7rem;
            width: 10rem;
            text-align:justify;
        
            /* border-style: solid;
            border-color: var(--second); */
        }
        
        .intro .intro_des a{
            display: inline-block;
            margin-top: 1rem;
            color: white;
            background-color: var(--second);
            padding: 0.5rem;
            font-size: 0.9rem;
            border-radius: 1rem;
            
        }
        
        footer{
            background-color: var(--second);
            color: white;
            font-weight: 50;
            justify-items: center;
            /* padding: 2rem; */
            font-size: 0.8rem;
            position: sticky;
            height: 2rem;
        }
}